# 1. Запрос
Найдите количество рейсов на каждой модели самолёта с вылетом в сентябре 2018 года. Назовите получившееся поле flights_amount и выведите его. Также напечатайте на экране поле model. Столбцы в таблице должны быть выведены в следующем порядке:
 - model
 - flights_amount

```SQL
SELECT
    aircrafts.model,
    COUNT(flights.flight_id) AS flights_amount
FROM
    aircrafts
    INNER JOIN flights ON aircrafts.aircraft_code = flights.aircraft_code
WHERE flights.departure_time :: date
    BETWEEN '2018-09-01' AND '2018-09-30'
GROUP BY aircrafts.model;
```

| MODEL | FLIGHTS_AMOUNT |
| :---------------------- | :---------------------- |
| Airbus A319-100 | 607 |
| Airbus A321-200 | 960 |
| Boeing 737-300 | 630 |
| Boeing 767-300 | 600 |
| Boeing 777-300 | 300 |
| Bombardier CRJ-200 | 4446 |
| Sukhoi SuperJet-100 |	4185 |

# 2. Запрос 
Посчитайте отправленные в сентябре рейсы самолётов следующих моделей:
 - Boeing,
 - Airbus,
 - другие (“other”).<div/>
 
Назовите получившуюся переменную flights_amount и выведите её значение на экран.

```SQL
SELECT
    CASE WHEN aircrafts.model LIKE '%Boeing%' THEN 'Boeing'
    WHEN aircrafts.model LIKE '%Airbus%' THEN 'Airbus'
    ELSE 'other'
    END AS fly,
    COUNT(flights.flight_id) AS flights_amount
FROM aircrafts
    INNER JOIN flights ON aircrafts.aircraft_code = flights.aircraft_code
WHERE 
    EXTRACT(MONTH FROM flights.departure_time) = '9'
GROUP BY 
    fly;
```

| FLY | FLIGHTS_AMOUNT |
| :---------------------- | :---------------------- |
| Airbus | 1567 |
| Boeing | 1530 |
| other | 13188 |

# 3. Запрос
Посчитайте среднее количество прибывающих рейсов в день для каждого города за август 2018 года. Назовите получившееся поле average_flights, вместе с ним выведите столбец city.<div/>
    Выводите столбцы в таком порядке:
    - city,
    - average_flights.

```SQL
SELECT
    fly.city AS city,
    AVG(fly.average_flights) AS average_flights
FROM
    (SELECT
         airports.city AS city,
         EXTRACT(DAY FROM flights.arrival_time) AS day,
         COUNT(*) AS average_flights
    FROM
        airports
        INNER JOIN flights ON airports.airport_code = flights.arrival_airport
    WHERE
        EXTRACT(MONTH FROM flights.arrival_time) = '8'
    GROUP BY
        city,
        day) AS fly
GROUP BY
    city;
```

| CITY | AVERAGE_FLIGHTS |
| :---------------------- | :---------------------- |
| Абакан | 3.87097 |
| Анадырь | 1 |
| Анапа | 2.16129 |
| Архангельск | 5.35484 |
| Астрахань | 2.45161 |
| Барнаул | 1544644 |
| Белгород | 6 |
| Белоярский | 2 |
| Благовещенск | 1 |
| Братск | 1 |
| Брянск | 10 |
| Бугульма | 3 |
| Владивосток | 3 |
| Владикавказ | 2 |
| Волгоград | 5.12903 |
| Воркута | 4.58065 |
| Воронеж | 2 |
| Геленджик | 2.59091 |
| Горно-Алтайск | 719895 |
| Грозный | 1.12903 |
| Екатеринбург | 484618 |
| Иваново | 1 |
| Ижевск | 1 |
| Иркутск | 6.03226 |
| Йошкар-Ола | 4.29032 |
| Казань | 7.74194 |
| Калининград | 2.58065 |
| Калуга | 2.03226 |
| Кемерово | 2 |
| Киров | 6 |
| Когалым | 3.16129 |
| Комсомольск-на-Амуре | 1 |
| Краснодар | 3.90323 |
| Красноярск | 1426943 |
| Курган | 3.41935 |
| Курск | 2.29032 |
| Кызыл | 1.27778 |
| Липецк | 1.29412 |
| Магадан | 1.35714 |
| Магнитогорск | 4 |
| Махачкала | 3.29032 |
| Минеральные Воды | 3.41935 |
| Мирный | 6.29032 |
| Москва | 129.774 |
| Мурманск | 2 |
| Надым | 2.29032 |
| Нальчик | 3 |
| Нарьян-Мар | 1544644 |
| Нерюнгри | 2.58065 |
| Нефтеюганск | 1 |
| Нижневартовск | 3.12903 |
| Нижнекамск | 3.74194 |
| Нижний Новгород | 5.87097 |
| Новокузнецк | 6.03226 |
| Новосибирск | 17.3226 |
| Новый Уренгой | 8.29032 |
| Норильск | 2.29032 |
| Ноябрьск | 3 |
| Нягань | 1 |
| Омск | 3.29032 |
| Оренбург | 5 |
| Орск | 1.59091 |
| Пенза | 4 |
| Пермь | 10.129 |
| Петрозаводск | 5.87097 |
| Петропавловск-Камчатский | 1 |
| Псков | 1.54839 |
| Ростов-на-Дону | 13058 |
| Салехард | 2 |
| Самара | 3 |
| Санкт-Петербург | 31.1613 |
| Саранск | 2 |
| Саратов | 4 |
| Советский | 9 |
| Сочи | 1544856 |
| Ставрополь | 2 |
| Стрежевой | 1 |
| Сургут | 8.74194 |
| Сыктывкар | 4.12903 |
| Тамбов | 4 |
| Томск | 4.19355 |
| Тюмень | 6.96774 |
| Удачный | 3 |
| Улан-Удэ | 1529273 |
| Ульяновск | 9.58065 |
| Урай | 2 |
| Усинск | 1 |
| Усть-Илимск | 2.87097 |
| Усть-Кут | 1 |
| Уфа | 6.29032 |
| Ухта | 3 |
| Хабаровск | 6.54839 |
| Ханты-Мансийск | 8.41935 |
| Чебоксары | 5 |
| Челябинск | 6.70968 |
| Череповец | 2.16129 |
| Чита | 1.58065 |
| Элиста | 4.87097 |
| Южно-Сахалинск | 4.29032 |
| Якутск | 2.74194 |
| Ярославль | 1.32258 |

# 4. Запрос
Установите фестивали, которые проходили с 23 июля по 30 сентября 2018 года в Москве, и номер недели, в которую они проходили. Выведите название фестиваля festival_name и номер недели festival_week.

```SQL
SELECT
    festival_name AS name,
    EXTRACT(WEEK FROM festival_date) AS week
FROM
    festivals
WHERE
    festival_city LIKE '%Москва%' AND
    festival_date BETWEEN '2018-06-23' AND '2018-09-30'
GROUP BY
    name,
    week;
```

| NAME | WEEK |
| :---- | :---- |
| Park Live | 30 |
| Видфест | 36 |
| Пикник Афиши | 31 |

# 5. Запрос
Для каждой недели с 23 июля по 30 сентября 2018 года посчитайте билеты, которые купили на рейсы в Москву (номер недели week_number и количество билетов ticket_amount). Получите таблицу:
 - с количеством купленных за неделю билетов;
 - отметкой, проходил ли в эту неделю фестиваль;
 - название фестиваля festival_name;
 - номер недели week_number.<div/>
 
Выводите столбцы в таком порядке: - week_number - ticket_amount - festival_week - festival_name

```SQL
SELECT
    sub2.week_number,
    sub2.ticket_amount,
    sub1.festival_week,
    sub1.festival_name
FROM (SELECT 
             festival_name, 
             EXTRACT(week FROM festival_date) AS festival_week
     FROM 
             festivals
     WHERE 
             festival_date BETWEEN '2018-07-23' AND '2018-09-30' AND festival_city = 'Москва') as sub1
     RIGHT JOIN 
                (SELECT   
                          EXTRACT(week FROM flights.arrival_time) as week_number,
                          count(ticket_flights.ticket_no) as ticket_amount
                 FROM 
                          flights RIGHT JOIN ticket_flights ON ticket_flights.flight_id  = flights.flight_id 
                 WHERE    CAST(flights.arrival_time as date) BETWEEN '2018-07-23' AND '2018-09-30'
                          AND flights.arrival_airport IN (SELECT airport_code FROM airports WHERE city='Москва')
                 GROUP BY 
                          EXTRACT(week FROM flights.arrival_time)) AS sub2 
ON sub2.week_number = sub1.festival_week
```

| WEEK_NUMBER | TICKET_AMOUNT | FESTIVAL_WEEK | FESTIVAL_NAME |
| :---- | :---- | :---- | :---- |
| 33 | 51378 | nan |
| 31 | 51034 | 31 | Пикник Афиши |
| 38 | 51518 | nan |
| 30 | 43568 | 30 | Park Live |
| 32 | 51675 | nan |
| 34 | 51492 | nan |
| 35 | 51360 | nan |
| 37 | 51670 | nan |
| 36 | 51386 | 36 | Видфест |
| 39 | 51623 | nan |